body {
  background-image: linear-gradient(INDIANRED, #F27878, #FFA3A3);
  background-repeat: repeat;
  font-style: verdana;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
h1 {
	color: #581845;
	text-align: center;
	font-style: verdana;
}
h2 { 
	color: #900C3F;
	font-style: verdana;

}
p{
	font-style: verdana;
}
h4 { 
	color: #900C3F;
	font-style: verdana;

}